<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AegisFlow</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <!-- ========================= -->
    <!-- NAVBAR -->
    <!-- ========================= -->

    <nav class="navbar">

        <div class="logo">
            AegisFlow
        </div>

        <div class="nav-links">

            <a href="/login">
                Login
            </a>

            <a href="/register">
                Register
            </a>

        </div>

    </nav>

    <!-- ========================= -->
    <!-- HERO SECTION -->
    <!-- ========================= -->

    <section class="hero">

        <h1>
            AegisFlow
        </h1>

        <p>

            A modern DevSecOps platform designed
            for secure application delivery,
            automated CI/CD pipelines,
            infrastructure automation,
            container security,
            vulnerability scanning
            and runtime protection.

        </p>

        <div>

            <a href="/login"
               class="btn btn-primary">

                Login

            </a>

            <a href="/register"
               class="btn btn-secondary">

                Register

            </a>

        </div>

    </section>

    <!-- ========================= -->
    <!-- FEATURES SECTION -->
    <!-- ========================= -->

    <section class="dashboard">

        <div class="dashboard-card">

            <h2>
                Platform Capabilities
            </h2>

            <p>

                🔐 JWT Authentication <br><br>

                🛡 Secure Password Hashing <br><br>

                ⚙ Jenkins CI/CD Automation <br><br>

                🐳 Docker Containerization <br><br>

                ☁ Infrastructure as Code <br><br>

                🔎 Vulnerability Scanning <br><br>

                🚨 DevSecOps Security Integration <br><br>

                📊 Secure Deployment Pipeline

            </p>

        </div>

    </section>

    <!-- ========================= -->
    <!-- FOOTER -->
    <!-- ========================= -->

    <div class="footer">

        © 2026 AegisFlow — Secure DevSecOps Platform <br><br>

            Designed & Developed by Vibhor Dewangan

    </div>

</body>

</html>