<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login - AegisFlow</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="form-container">

        <h2>
            Login
        </h2>

        <form>

            <div class="input-group">

                <label>
                    Username
                </label>

                <input type="text"
                       placeholder="Enter username">

            </div>

            <div class="input-group">

                <label>
                    Password
                </label>

                <input type="password"
                       placeholder="Enter password">

            </div>

            <button class="btn btn-primary"
                    type="submit">

                Login

            </button>

        </form>

        <!-- REGISTER LINK -->

        <div style="text-align:center; margin-top:25px;">

            <p style="color:#c9d1d9;">

                First time user?

                <a href="/register"
                   style="color:#54616b; text-decoration:none;">

                    Register

                </a>

            </p>

        </div>

        <!-- BACK HOME -->

        <div style="text-align:center; margin-top:10px;">

            <a href="/"
               class="btn btn-secondary">

                Back to Home

            </a>

        </div>

    </div>

</body>

</html>